/* :root {
    --main-color: #24232d;
    --text-color: #f0f2ed;
    --action-color: #1bc4f2;
    --other: #5d0bf9;
} */

header {
    position: fixed;
    z-index: 1;
    height: 50px;
    padding: 15px 20px;
    width: 98%;
    display: flex;
    background: #24232d;
    justify-content: space-around;
    top: 0;
    box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.69);
}

.header__left img {
    height: 50px;
    width: 50px;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header__input {
    display: flex;
    height: 50%;
    align-items: center;
    padding: 10px;
    margin-left: 10px;
    border: 1px solid var(--text-color);
    border-radius: 100px;
    opacity: 0.7;

}

header input {
    width: 55vw;
    border: none;
    color: var(--text-color);
    background-color: transparent;
    font-size: 15px;
}

header input:focus {
    outline: none;
}

.header__input form {
    display: flex;
    gap: 10px;
}

.header__info {
    display: flex;
    align-items: center;
}

.header__right {
    display: flex;
    align-items: center;
}

.header__right .material-icons {
    color: var(--text-color);
    margin: 0 10px;
}

.header__right .material-icons:hover {
    color: var(--other);
    cursor: pointer;
}

@media (max-width: 768px) {
    .header__left img {
        width: 8vw;
        height: 8vw;
    }

    .header__input input {
        /* display: none; */
        width: 20vw;
    }

}